In [57]:
import numpy as np
import pandas as pd

In [61]:
data = pd.read_json('Pyride.json')

In [63]:
data.to_csv('data.csv', sep=',', index=False, encoding='utf-8')

,driver_id,timestamp,latitude,longitude,trip_distance,event_type
4252,D043,2023-07-30 05:11:33,37.466396,-121.797761,5.366992,Trip
2618,D027,2023-07-30 05:11:33,37.383872,-121.138253,1.861556,Trip
2999,D030,2023-07-30 05:11:33,37.857490,-121.850253,NaN,GPS
3062,D031,2023-07-30 05:11:34,37.381637,-121.270378,NaN,GPS
3316,D034,2023-07-30 05:11:36,37.298896,-121.279395,NaN,GPS
...,...,...,...,...,...,...
3200,D033,2023-07-30 07:11:26,37.484418,-121.040207,NaN,GPS
1080,D011,2023-07-30 07:11:28,37.180897,-121.074943,5.907557,Trip
2462,D025,2023-07-30 07:11:29,37.622885,-121.028416,NaN,GPS
2712,D028,2023-07-30 07:11:30,37.782445,-121.949655,NaN,GPS
3305,D034,2023-07-30 07:11:31,37.197001,-121.302722,8.058788,Trip